
body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    width: 100%;
}

section {
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

.banner {
    background-color: lightpink;
    width: 80%;
    height: 100px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#above-battle {
    background-color: lightsteelblue;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

#user-hp-container {
    height: 90%;
    width: 20%;
    background-color: linen;
    margin: 0px 20px;
}

#create-potato-container {
    height: 90%;
    width: 20%;
    background-color: linen;
    margin: 0px 20px;
}

.field-of-battle {
    background-color: moccasin;
    height: 300px;
    width: 100%;
    margin: 0px;
    border: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#fighter {
    background-color: paleturquoise;
    width: 20%;
    height: 95%;
    margin: 0px 100px;
}

#potatoes-container {
    background-color: powderblue;
    height: 95%;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
